<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Senalysis{% endblock %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.12.22/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css')}}"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
      {% for message in messages %}
      <div class="toast toast-end">
        <div class="alert alert-error">
          <span>{{ message }}</span>
        </div>
      </div>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}

    <div class="navbar bg-base-100" style="position: absolute">
      <div class="navbar-start">
        <a class="btn btn-ghost text-xl" href="/">Senalysis</a>
      </div>
      <div class="navbar-end">
        <a class="btn" onclick="window.history.back()">BACK</a>
      </div>
    </div>

    {% block content %}{% endblock %}
  </body>
</html>
