{% extends "base.html" %} {% block content %}
<div class="container mx-auto">
  <h2
    class="text-2xl font-semibold text-center mb-6 bg-neutral text-white p-4 rounded-lg"
  >
    Feedbacks for {{ product_name }}
  </h2>

  <div class="filters bg-base-200 p-4 rounded-box mb-4">
    <div class="grid grid-cols-5 gap-4">
      <div>
        <select id="sentiFilter" class="select select-bordered w-full">
          <option value="all" selected>All</option>
          <option value="positive">Positive</option>
          <option value="negative">Negative</option>
        </select>

        <div class="label">
          <span class="label-text-alt">Sentiment</span>
        </div>
      </div>

      <div class="form-control w-full">
        <input
          id="sDate"
          type="date"
          class="input input-bordered w-full"
        />
        <div class="label">
          <span class="label-text-alt">Start Date</span>
        </div>
      </div>

      <div class="form-control w-full">
        <input id="eDate" type="date" class="input input-bordered w-full" />
        <div class="label">
          <span class="label-text-alt">End Date</span>
        </div>
      </div>

      <div>
        <select id="sort" class="select select-bordered w-full">
          <option value="desc" selected>Newest First</option>
          <option value="asc">Oldest First</option>
        </select>

        <div class="label">
          <span class="label-text-alt">Sort</span>
        </div>
      </div>

      <div>
        <button id="clear" class="btn btn-outline btn-error w-full">
          Clear Filters
        </button>
      </div>
    </div>
  </div>

  <table class="table w-full">
    <thead>
      <tr>
        <th>#</th>
        <th>Feedback ID</th>
        <th>User ID</th>
        <th>Feedback</th>
        <th>Sentiment</th>
        <th>User Email</th>
        <th>Timestamp</th>
      </tr>
    </thead>
    <tbody id="ftable">
      {% for feedback in feedbacks %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ feedback.fid }}</td>
        <td>{{ feedback.uid }}</td>
        <td>{{ feedback.feedback }}</td>
        <td>
          <kbd class="kbd">{{ feedback.sentiment }}</kbd>
        </td>
        <td>{{ feedback.email }}</td>
        <td>{{ feedback.timestamp }}</td>
      </tr>
      {% else %}
      <tr>
        <td colspan="7" class="text-center text-gray-600">
          No feedback submitted yet.
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const sentimentFilter = document.getElementById("sentiFilter");
    const startDateInput = document.getElementById("sDate");
    const endDateInput = document.getElementById("eDate");
    const sortOrder = document.getElementById("sort");
    const feedbacksTable = document.getElementById("ftable");
    const clearFilters = document.getElementById("clear");
    const pid = "{{ pid }}";

    function fetchFeedbacks() {
      const sentiment = sentimentFilter.value;
      const startDate = startDateInput.value;
      const endDate = endDateInput.value;
      const sort = sortOrder.value;

      const url = new URL(`/api/feedbacks/${pid}`, window.location.origin);
      url.searchParams.append("sentiment", sentiment);
      if (startDate) url.searchParams.append("start_date", startDate);
      if (endDate) url.searchParams.append("end_date", endDate);
      url.searchParams.append("sort_order", sort);

      fetch(url)
        .then((response) => response.json())
        .then((data) => {
          feedbacksTable.innerHTML = "";
          data.forEach((feedback, index) => {
            const row = `
                            <tr>
                                <td>${index + 1}</td>
                                <td>${feedback.fid}</td>
                                <td>${feedback.uid}</td>
                                <td>${feedback.feedback}</td>
                                <td><kbd class="kbd">${
                                  feedback.sentiment
                                }</kbd></td>
                                <td>${feedback.email}</td>
                                <td>${feedback.timestamp}</td>
                            </tr>
                        `;
            feedbacksTable.innerHTML += row;
          });
        });
    }

    sentimentFilter.addEventListener("change", fetchFeedbacks);
    startDateInput.addEventListener("change", fetchFeedbacks);
    endDateInput.addEventListener("change", fetchFeedbacks);
    sortOrder.addEventListener("change", fetchFeedbacks);
    clearFilters.addEventListener("click", () => {
      sentimentFilter.value = "all";
      startDateInput.value = "";
      endDateInput.value = "";
      sortOrder.value = "desc";
      fetchFeedbacks();
    });
  });
</script>
{% endblock %}
